/* app css stylesheet */

ul li {
  list-style: none;
}

.menu {
  list-style: none;
  box-shadow: 0 4px 1px 0 
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  margin-top: 0;
  padding: .2em 3% .2em;
  position: relative;
  z-index: 10;
  background-color: #f0604c;
  color: white;
  box-shadow: 0 4px 1px 0
    rgba(96, 87, 79, 0.2);
  font-family: Boost, Avenir, Segoe, sans-serif;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
