
<div ng-controller="View1Ctrl">
  <div class="row">
	<p>Search Sacred Harp Songs</p>

	<div class="col-md-2">
	  <!--Sidebar content-->

	  Search: <input ng-model="query">
	  Sort by:
	  <select ng-model="orderProperty">
	    <option value="Title">Alphabetical</option>
	    <option value="id">Number</option>
	    <option value="meterName">Meter Name</option>
	  </select>

	</div>
	    <div class="col-md-10">
	      <!--Body content-->

	    <ul>
	        <li ng-repeat="song in songs | filter:query | orderBy:orderProperty">
	          	{{song.id}} {{song.Title}} {{song.meterName}} 
	            <a href="#" class="testmodal">{{song.Title}}</a>
	            <p><a href class="btn btn-default btn-lg " ng-click="showAModal()">Show Yes No</a></p>
	        </li>
	    </ul>
    </div>
  </div>
</div>
