
<div ng-controller="View1Ctrl">
  <div class="row">
	<p>Search Sacred Harp Songs</p>

	<div class="col-md-2">
	  <!--Sidebar content-->

	  Search: <input ng-model="query">
	  Sort by:
	  <select ng-model="orderProperty">
	    <option value="Title">Alphabetical</option>
	    <option value="id">Number</option>
	    <option value="meterName">Meter Name</option>
	  </select>

	</div>
	    <div class="col-md-10">
	      <!--Body content-->
		    <script type="text/ng-template" id="songText.html">
		      	<div>
			    	<div class="modal-body">
				    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
				        <h3 class="modal-title">{{song.Title}}</h3>
						<blockquote>
							<pre>{{song.SongText}}</pre>
						</blockquote>
			        </div>
		        </div>  
		    </script>

	    <ul>
	        <li ng-repeat="song in songs | filter:query | orderBy:orderProperty">
	          	{{song.id}} {{song.meterName}} 
	            <h4><a ng-click="open(song)">{{song.Title}}</a></h4>
	        </li>
	    </ul>
    </div>
  </div>
</div>
