
<div ng-controller="View1Ctrl">
  <div class="row">
	<h4>Search Sacred Harp Songs</h4>

	<div class="col-md-2">
	  <!--Sidebar content-->
	  <p>Search by title: <input type="text" ng-model="search.Title"></p>
	  <p>Search by song text: <input ng-model="search.songText"></p>
	  <p>Search by song meter: <input ng-model="search.meterName"></p>
	  <p>Search by song number: <input ng-model="search.id"></p>

	  Sort by:
	  <select ng-model="orderProperty">
	    <option value="Title">Alphabetical</option>
	    <option value="id">Number</option>
	    <option value="meterName">Meter Name</option>
	  </select>

	</div>
	    <div class="col-md-10">
		    <script type="text/ng-template" id="songText.html">
		      	<div>
			    	<div class="modal-body">
				    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
						<p>
							<h3>{{song.Title}}</h3>
							<pre>{{song.SongText}}</pre>
						</p>
			        </div>
		        </div>  
		    </script>

	    <ul>
	    	<li ng-repeat="song in songs | filter:search | orderBy:orderProperty" ng-style="{ 'background' : song.classColor }">
        		<h5><a ng-click="open(song)">{{song.Title}}</a></h5>
        		<span>{{song.id}}   |   {{song.meterName}}</span>
	        </li>
	    </ul>
    </div>
  </div>
</div>
